<div class="hero-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero-image">
          <img [src]="heroImageUrl()" [alt]="heroImageAltText()" />
        </div>
      </div>
    </div>
    <!-- <h1>Ticket to Riot</h1> -->
    <p class="lead">Punk Beatles Tribute</p>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h3 class="mb-0">About</h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            Beatles hits, classics, and deep cuts rendered angsty and loud. From raw, four-chord
            Skate Punk anthems to Speed Metal rippers; some Ska stylings and Art Punk stylings mixed
            in, you've never heard your favorite Fab Four songs like this before.
          </p>
          <p class="card-text">
            Anarchy in RVA versions of "Help!," "A Day in the Life," "Day Tripper," and many, many
            more!
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h3 class="mb-0">Book us!</h3>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-guitar me-2 text-danger"></i>Punk-fuelled Beatles covers
            </li>
            <li class="list-group-item">
              <i class="fas fa-calendar-alt me-2 text-danger"></i>Live shows
            </li>
            <!-- <li class="list-group-item">
                 <i class="fas fa-tag me-2 text-danger"></i>Exclusive band merchandise
                 </li> -->
            <li class="list-group-item">
              <i class="fas fa-handshake me-2 text-danger"></i>Private events &amp; venue bookings
            </li>
            <li class="list-group-item">
              <i class="fas fa-envelope me-2 text-danger"></i>
              <a routerLink="/book" routerLinkActive="active" ariaCurrentWhenActive="page"
                >Contact us for more info!</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
